@{
    ViewData["Title"] = "What is Adventure Guide?";

}
<div>
    <h1>@ViewData["Title"]</h1>

    <br />
    <p class="about-text">
        AdventureGuide is an app that is designed to help you better plan, enjoy, and share the vacations and trips that you take.
    </p>
    <p class="about-text">
        You can search for a variety of popular travel destinations, either by name, category, or on a map!
        From there you can get an idea of what other users think about a certain destination, and whether or not it may be a fit for your future adventures.
    </p>
    <p class="about-text">
        If you feel that a destination is missing from the site, you can sign up for an account and make one yourself! 
        You can also leave reviews for destinations that other people have created to share your experiences with others.
    </p>
    <p class="about-text">
        AdventureGuide is focused on providing a better vacation planning and sharing experience for all.
    </p>
</div>