@{
    ViewData["Title"] = "What is AdventureGuide?";

}
<h2>@ViewData["Title"]</h2>

<br />
<p>AdventureGuide is an app that allows you to learn more about various travel destinations and attractions as you start planning your next vacation or travel plan. 
    After registering for an account, you can browse through a variety of popular destinations, either by category, keywords, or a list-all option. From there you can get an idea of what
    others who have already travelled to a certain destination thought of it by its overall rating and reviews. If
    you don't see a certain destination or feel one is missing, you are also free to make your own and add a review or rating (or both) for it if you've been there yourself and wish to 
    let others know about how awesome (or not so awesome) it was! </p>
