@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/banner.png" class="img-fluid rounded mx-auto d-block mb-5" alt="Responsive image">

<div class="row">
    <div class="col-sm-6">
        <div class="card bg-dark text-white">
            <img class="card-img" src="~/images/card_image_placeholder.jpg" alt="Card image">
            <div class="card-img-overlay align-items-center d-flex justify-content-center">
                <h1 class="card-title p-2 mb-1 rounded bg-dark text-white">Card title</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-dark text-white">
            <img class="card-img" src="~/images/card_image_placeholder.jpg" alt="Card image">
            <div class="card-img-overlay align-items-center d-flex justify-content-center">
                <h1 class="card-title p-2 mb-1 rounded bg-dark text-white">Card title</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-dark text-white">
            <img class="card-img" src="~/images/card_image_placeholder.jpg" alt="Card image">
            <div class="card-img-overlay align-items-center d-flex justify-content-center">
                <h1 class="card-title p-2 mb-1 rounded bg-dark text-white">Card title</h1>
            </div>
        </div>
    </div>
</div>
