<div class="modal fade" id="invalid-address-window" tabindex="-1" role="dialog" aria-labelledby="invalid-address-modal">
    <div class="modal-content modal-backgr modal-dialog justify-content-center d-flex flex-column">
        <div class="modal-header">
            <h4 class="modal-title"> Invalid Address </h4>

            <button type="button" class="close" data-dismiss="modal" data-target="invalid-address-modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        <div class="modal-body">            
            
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
