@model AdventureGuide.Models.Destinations.Destination;

<li class="list-group-item list-group-item-action" onclick="window.location='@Url.Action("Details", new { destinationId = Model.Id })'">
    <div class="col-md-12 d-flex">
        <div class="col-md-4">
            <h4>@Model.Name</h4>
        </div>
        <div>
            <input id="input-6" name="input-6" class="rating rating-loading" value="@Model.Rating" data-min="0" data-max="5" data-step=".5" data-readonly="true">
        </div>
        <div>
            <img src="@Url.Content(Model.ImagePaths.First().Path)" />
        </div>
    </div>
</li>