@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

<div class="manage-container">
    <nav class="menu" aria-label="Personal settings">
        <h3 class="menu-heading">
            Personal settings
        </h3>
        <a class="nav-link manage-options" asp-action="Index" asp-controller="Manage">Profile</a>
        <a class="nav-link manage-options" id="change-password" asp-action="ChangePassword" asp-controller="Manage">Password</a>

        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin"))
            {
                <a class="nav-link manage-options" asp-area="" asp-controller="Manage" asp-action="AllReviews"> Manage Reviews </a>
                <a class="nav-link manage-options" asp-area="" asp-controller="Manage" asp-action="Users"> Manage Users </a>

            }
            else if (User.IsInRole("User"))
            {
                <a class="nav-link manage-options" asp-area="" asp-controller="Manage" asp-action="Reviews"> Manage my Reviews </a>

            }

        }
    </nav>

    <a class=" btn-danger delete-button btn-sm mt-1" asp-area="" asp-controller="Manage" asp-action="Delete"> Delete my Account </a>
</div>