@model Microsoft.AspNetCore.Identity.IdentityUser;
@using Microsoft.AspNetCore.Identity;

<li class="list-group-item list-group-item-action" style="min-width:600px;">
    <div>
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <h4 class="mt-2 mr-3 text-truncate">@Model.UserName</h4>
            </div>

            <div class="d-flex justify-content-start">
                <form >
                    <a class="btn btn-danger btn m1-1" asp-controller="Manage" asp-action="DeleteUser" asp-route-userId="@Model.Id" asp-route-userName="@Model.UserName">
                        Delete
                    </a>
                </form>
            </div>
        </div>
    </div>
</li>
