@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="delete-page">
    <h2>Deleting Account</h2>
    <p>
        Are you sure you want to delete your account?<br>
        We are sorry to see you go!
    </p>

    <button onclick="DeleteAccount()" class="btn-danger delete-button btn-lg mt-1">Delete</button>


    </div>
    <script type="text/javascript">
    function DeleteAccount()
    {
        $.ajax({
            method: 'DELETE',
            url: "@Url.Action("DeleteAccount", "Manage")",
            timeout: 60000,
            contentType: "application/json; charset=utf-8",
            success: function(response) {
                location.href = "@Url.Action("Index", "Home")";
            }
        })
    }
    </script>
