@model AdventureGuide.ViewModels.ManageViewModels.DestinationViewModel
@using AdventureGuide.Models.Destinations

@{
    ViewData["Title"] = "Destinations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Destinations</h2>

<div>
    @if (Model.Destinations.Any())
    {
        @foreach (Destination destination in Model.Destinations)
        {
            <partial name="_DestinationListIndex" model="destination" />
        }
    }
</div>

@{
    var prevDisabled = !Model.PageViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PageViewModel.HasNextPage ? "disabled" : "";
}

<a asp-action="Destinations"
   asp-route-pageNumber="@(Model.PageViewModel.PageNumber - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Destinations"
   asp-route-pageNumber="@(Model.PageViewModel.PageNumber + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>