@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"> <a class="btn btn-link navbar-btn navbar-link text-white" asp-action="Index" asp-controller="Manage" title="Manage">Hello @UserManager.GetUserName(User)!</a> </li>
            <li class="nav-item"> <button type="submit" class="btn btn-link navbar-btn navbar-link text-white">Logout</button> </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" asp-action="Register" asp-controller="Account">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-action="Login" asp-controller="Account">Login</a></li>
    </ul>
}