@inject SignInManager<IdentityUser> SignInManager

<div class="container3">
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-page="./ChangePassword">Password</a></li>

    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="AllReviews"> Manage Reviews </a></li>
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Users"> Manage Users </a></li>

        }
        else if (User.IsInRole("User"))
        {
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Reviews"> Manage my Reviews </a></li>
            <li class="nav-item"><a class="btn btn-danger mt-1" asp-area="" asp-controller="Manage" asp-action="Delete"> Delete my Account </a></li>
        }

    }

</ul>
</div>